In [1]:
print("welcome to python programming")
print("hi this is python")

welcome to python programming
hi this is python

#markdowns
##markdowns
###markdowns

# markdowns
## marksdowns
### markdowns
#### markdowns
##### markdowns

#### foritalic and bold
* *gvk*
* **gvk*

#### for italic and bold
* *gvk*
* **gvk**

#### for bold and italic
* *gvk*
* **gvk**

In [2]:
- Normal Text
- gvk
- gvk

SyntaxError: invalid syntax (<ipython-input-2-ee48f7eb1140>, line 1)

- Normal text 
- benz is me
- gvk2

![image](https://www.motor1.com/news/267325/mercedes-g-class-brabus-widestar/)

* [1]
[1]https://drive.google.com/drive/my-drive

![barbus](https://www.motor1.com/news/267325/mercedes-g-class-brabus-widestar/)

![brabus](https://i.pinimg.com/originals/36/e9/c1/36e9c1c2e2ae1980a4d892007d59ac75.jpg)

![brabus](https://cdn.hiconsumption.com/wp-content/uploads/2019/03/Brabus-850-6.0-Biturbo-4%C3%974-Squared-Final-Edition-0-Hero-1087x725.jpg)

[gvk](https://drive.google.com/drive/my-drive)

In [3]:
print("hello,gitam")
print("hii")

hello,gitam
hii

In [4]:
print("hello,gitam",end="$$$ ")
print("osama bin laden")

hello,gitam$$$ osama bin laden

In [5]:
print("gud mrng",end="^^^ ")
print("gud evng")

gud mrng^^^ gud evng

In [6]:
a = 10 #single variable assignment
a, b, c = 1 # multi variable assignment
a,  b, c = 1,2,3 #multi variable assignment with different values

TypeError: 'int' object is not iterable

In [7]:
a =10 # single variable assignment
a, b, c = 1 # multi variable assignment
a, b, c = 1,2,3 # multi variable assignment with different values

TypeError: 'int' object is not iterable

In [8]:
a = "python"
b = "p"
type(a)
c = 10
type(c)

int

In [9]:
a = 10.5
print(type(a))
id(a)

<class 'float'>

70456272

In [10]:
a = 10
b = 10
print(id(a))
id(b)

1523260496

1523260496

In [11]:
a = 20
b = 20
print(id(a))
id(b)

1523260656

1523260656

![suriya](https://timesofindia.indiatimes.com/thumb/msid-64011567,imgsize-51089,width-800,height-600,resizemode-4/64011567.jpg)

![suriya](https://i.pinimg.com/originals/f4/ac/4e/f4ac4e47c29851092d08d4568f222d7f.jpg)

##### markdown
###### markdown
## markdown
# markdown

In [14]:
name="gvk"
print("my name is",name)

my name is gvk

In [15]:
a = b = 20 # multi variable assignment

In [16]:
a

20

In [17]:
b

20

In [18]:
name = "gvk"
age ="20"
print("my name is",name,"and age is",age)

my name is gvk and age is 20

In [19]:
input("enter a syring")

enter a syringpython

'python'

a

In [20]:
a =input("enter a number")
type(a)

enter a number10

str

In [21]:
b = input(enter a number)
type(b)

SyntaxError: invalid syntax (<ipython-input-21-9a372ea8dfb0>, line 1)

In [22]:
b = input("enter a number")
type(b)

enter a number10

str

In [23]:
a = int(input"enter a number")
b = int(input"enter a number")
c = a+b
print

SyntaxError: invalid syntax (<ipython-input-23-02f5b24e5535>, line 1)

In [24]:
a = int(input("enter a number"))
b = int(input("enter a number"))
c = a+b
print(c)

enter a number10
enter a number20
30

In [31]:
a = int(input("enter a nummber = " ))
b = int(input("enter a numbner = " ))
c = a/b
print("total=",c)

enter a nummber = 25
enter a numbner = 5
total= 5.0

In [32]:
x = 10
print(x)
type(x)

10

int

In [33]:
y = 1.2
print(y)
type(y)

1.2

float

In [35]:
a = 5+7j
print(a)
type(a)

(5+7j)

complex

In [36]:
x = float(100)
x

100.0

In [37]:
z = complex(1,6)
z

(1+6j)

In [41]:
c1 = 7+1j
c2 = 7+1j
print(c1+c2)
print(c1-c2)

(14+2j)
0j

In [42]:
a = True 
type(a)

bool

In [43]:
z = False
type(z)

bool

In [44]:
z>a

False

In [45]:
z>b

TypeError: '>' not supported between instances of 'bool' and 'complex'

In [46]:
a = True
type(a)

bool

In [51]:
c = True
type(c)

bool

In [56]:
a<c

False

In [57]:
# strings 
s1 = "abc"
s2 = 'xyz'
print(s1)
type(s2)

abc

str

In [58]:
f1 = float(i) # float converts the input into float type
print (f1)
type (f1)

NameError: name 'i' is not defined

In [59]:
a = int(s)
type(a)

NameError: name 's' is not defined

In [60]:
f = 1.5
type(f)

float

In [61]:
a = '1234'
len(a) #returns the length of the string

4

In [62]:
a = '54321789877654321'
len(a)

17

In [63]:
a = 'ap23aa1381'
len(a)

10

# operators

# 1.Arthematic operators :+,-,*,/,%,//(floor division),**(exponentiation)

# 2.Logical operators       : and,or,not

# 3.Relational operators    : <,>,=<,>=,==

# 4.Membership operators :in,not in

In [66]:
x = 110
y = 20
print(x+y)
print(x-y)
print(x*y)
print(x**y)
print(x/y)
print(x//y)

130
90
2200
67274999493256000920100000000000000000000
5.5
5

In [67]:
# logical operators
x = 2
y = 3
print(x>=5 and x<5)
print(x>=5 or x<=10)
print(not(x))

False
True
False

In [68]:
# relational operators
x = 2
y = 3
print(x==y)
print(x!=y)
print(x<y)
print(x>y)
print(x>=y)
print(x<=y)

False
True
True
False
False
True

In [71]:
# membership operators
str1 = "abc"
print('z'in str1)
print('z' not in str1)

False
True

# Conditional statements

- 1 . if
- 2 . if-else
- 3 . else

# syntax:
### if condition
  - statements
  
................................................................................................  
 
###  if condition:
    -statements

................................................................................................
### if condition
    -statements
### elif 
    -statements
### elif
    -statements
### elif
    -statements

In [74]:
a = -40

if a>0:
   print("positive")
else:
    print("negative")

negative

#  chekgiven number is even or odd
#  check the number is multiple of 3 and 5
# chk the input ia a leap year or    not
# take three numbers as input , and find the biggest of three
# read a character and find whether it is vowel or a consonent

# 4/11/2019

# loops


# while loop syntax
 -while condition:
   -selection