# collectio types
 - 1.list
 - 2.tuple
 - 3.set
 - 4.dictionary

# List:
## one of the datastructures in python
## Data structures means to store, sort and search options
## it is a common data structures in python, the items ina a list are seperated by comma and enclosed in []
## List can store different data types (heterogenous data )

In [1]:
## Example :
list1 = [1,2,3,4,5]
print(list1)
type(list1)

[1, 2, 3, 4, 5]

list

In [2]:
list2 = [1,1.23,"gvk","srd"] #heterogenous 
list2

[1, 1.23, 'gvk', 'srd']

In [3]:
#Accessing list elements
list1 = [1,2,3,4,5]
print(list1[0])
list1[-1]

1

5

In [4]:
list1 = [1,2,3,4,5]
list1[0:3] # (start and stop values)
list1[0:5:2]# start : stop : step (by default step is 1)
list1[2:] #start value upto end of the  list
list1[::2]

[1, 3, 5]

In [5]:
del list1[3] # del is used to delete elements from the list
list1

[1, 2, 3, 5]

In [6]:
# Basic list operations 
list1 = [1,2,3,4,5,6,7,8,9,0]
len(list1)# displays the length of the list

10

In [7]:
print(list1 *2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [8]:
11 in list1

False

In [9]:
0 in list1

True

In [10]:
1 in list1

True

In [11]:
# Accessing list elements with for loop 
list1=[1,2,3,4]
for i in range(len(list1)):
    print (list1[i])

1
2
3
4

In [12]:
for i in [1,2,3,4]:
    print(i,end =" ")

1 2 3 4

In [13]:
# Basic lis functions
list1 = [1,2,3,4]
print(max(list1))
print(min(list1))
print(sum(list1))
sum(list1)/len(list1)

4
1
10

2.5

In [14]:
# list methods :
list1 = [1,2,3,4]
list1.append(5)
list1

[1, 2, 3, 4, 5]

In [15]:
list1 = [9,8,7,6,5,4,3,2,1]
list1.append(0)
list1

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [16]:
list1 = [1,2,4,5,2,3,4,5,6,7,8,9,]
list1.insert(2,3) # adds element at the end of the list
list1.append(10)  # adds element at the specific position
list1.count(2) # no.of times the element is repeated
list1

[1, 2, 3, 4, 5, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
list1.count(2)

2

In [18]:
list1.pop()

10

In [19]:
list1.pop(3)

4

In [20]:
list1
print(list1)
list1.index(10) # gives the place of the element

[1, 2, 3, 5, 2, 3, 4, 5, 6, 7, 8, 9]

ValueError: 10 is not in list

In [28]:
list1
print(list1)
list1.extend([1,2,3])
list1

[1, 2, 3, 5, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2]

[1, 2, 3, 5, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 1, 2, 3]

In [27]:
print(list1)
list2 = [1,2]
list1.extend(list2) #extends list2 to list1
list1

[1, 2, 3, 5, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 5, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2]

In [25]:
list = [1,2,3,4]
print(list)
list.reverse() #prints all the numbers in reverse order
print(list)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [26]:
list = [1,4,8,3,7]
list.sort() #arranges in ascending order
list

[1, 3, 4, 7, 8]

In [29]:
list[::-1] #prints the list in reverse order

[8, 7, 4, 3, 1]

In [ ]:
help("list")

 # Tuples :
 
 ## Tuples are enclosed in paranthesis()
 ## tuples are immutable i.e., we cannot modify the elements in the tuple

# Differences between list and tuple:
## tuples --->() and list ---> []
## list is mutable (can modify the data),but tuple is immutable(cannot modify)

In [ ]:
tuple1 = (1,2,3,4)
print(tuple1)
type(tuple1)

In [ ]:
tp2=(1,1.2,"gvk")
tp2

In [ ]:
help("tuple")

# Dictionary:

## Encloses in {}
## Dictionary consists of key and value pairs seperated by colon :
## Each key value is seperated by comma(,) 
## keys should be unique,values may repeat

In [45]:
#Example :
d1 = {"name": "gvk", "roll_no": 1021, "address":"srd" , "email" : "vamshikrishna1381@gmail.com"}
print(d1)

{'name': 'gvk', 'roll_no': 1021, 'address': 'srd', 'email': 'vamshikrishna1381@gmail.com'}

In [30]:
d1["name"]

'gvk'

In [31]:
d1["address"]

'srd'

In [32]:
d1["roll_no"]

1021

In [36]:
d1["email"]

'vamshi1381@gmail.com'

In [40]:
d1["course"] = "python"
d1

{'address': 'srd',
 'course': 'python',
 'email': 'vamshi1381@gmail.com',
 'name': 'gvk',
 'roll_no': 1021}

In [42]:
d1.keys()

dict_keys(['name', 'roll_no', 'address', 'email', 'course'])

In [47]:
d1.values()

dict_values(['gvk', 1021, 'srd', 'vamshikrishna1381@gmail.com'])

In [46]:
d1.items ()

dict_items([('name', 'gvk'), ('roll_no', 1021), ('address', 'srd'), ('email', 'vamshikrishna1381@gmail.com')])

In [50]:
print(d1)
del d1["name"]

{'name': 'gvk', 'roll_no': 1021, 'address': 'srd', 'email': 'vamshikrishna1381@gmail.com'}

In [51]:
d1

{'address': 'srd', 'email': 'vamshikrishna1381@gmail.com', 'roll_no': 1021}

In [52]:
help("dict")

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if D has a key k, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Returns a new dict with keys from iterable and values equal to value.
 |
 |  get(...)
 |      D.get(k[,d]) -> D[k] if k in D, else d.  d defaults to None.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |      If key is not found, d is returned if given, otherwise KeyError is raised
 |
 |  popitem(...)
 |      D.popitem() -> (k, v), remove and return some (key, value) pair as a
 |      2-tuple; but raise KeyError if D is empty.
 |
 |  setdefault(...)
 |      D.setdefault(k[,d]) -> D.get(k,d), also set D[k]=d if k not in D
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

# 1.function to find factorial of a number
## input: 5 ##(5*4*3*2*1)
## output: 120

# 2.function to check the strong number
## input:145
## output:strong number or not

In [53]:
def factorial(n):
    fact =1 
    i=1
    while i<n:
        fact = fact*i
        i=i+1
        return fact 
    factorial(5)

In [3]:
def Digitalfactorsum(n);
    s=0
    buffer = n
    while n! = 0:
        r = n%10
        s = s+factorial(r)
        n = n//10
    if buffer == s:
        print("strong number")
    else:
        print("not a strong number")
Digitalfactorialsum(145)

SyntaxError: invalid syntax (<ipython-input-3-3101b4cd47ae>, line 1)

# Strings :

In [4]:
s1 = "python"
print(s1)
type(s1)

python

str

In [8]:
# accessing the first character 
print(s1)  
print(s1[0])   # return the first char
print(s1[-1]) #return the last char
print(s1[2:5])#return the char between specific indexes
print(s1[::2])#sips one char from previous char
s1[::3]
s1[::4]

python
p
n
tho
pto

'po'

In [16]:
s1 = "marathon"
print(s1)
print(s1[1:]) # ptints from index 1
print(s1[3:]) #prints from index 3
print(s1[:4]) #prints from index o to index 4
print(s1[-2:])# prints the last -1 and -2

marathon
arathon
athon
mara
on

In [20]:
s1  ="python"
s1[1:-1] # prints from index 1 to -2
s1[0:5:2]

'pto'

In [23]:
str1 = "racecar"
print(str1)
print(str1[::-1])
if str1 == str1[::-1]:
    print("palindrome")
else:
    print("not a palindrome")

racecar
racecar
palindrome

In [25]:
s1 = "vamshikrishna"
print(s1.upper())

VAMSHIKRISHNA

In [28]:
s1 = "4321"
print(s1.isnumeric())

True

In [29]:
print(s1.isalpha())

False

In [31]:
s1 = "vamshikrishna"
print(" ".join(s1))
print("    ".join(s1))

v a m s h i k r i s h n a
v    a    m    s    h    i    k    r    i    s    h    n    a